body
{
    height:100vh;
   width:100%
    
}
/* 
.bg-form{
    width:800px;
    padding-left: 100px;
    justify-self: center;
    justify-content: center;
    justify-items: center;
} */

 
    /* .navbar-custom {
        background-color:#007bff;
    }
    */
    /* Modify brand and text color */
/*      
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: green;
    } */ 
